.DS_Store
NimC/NimGame
NimGame_iPhone/.DS_Store
NimGame_iPhone/DerivedData/
NimGame_iPhone/NimGame.xcodeproj/project.xcworkspace/xcuserdata/wassmer.xcuserdatad/
NimGame_iPhone/NimGame.xcodeproj/xcuserdata/wassmer.xcuserdatad/

